/build*
/devel*
/extra*
/videos
#ByteTrack/*
#/ByteTrack

ByteTrack/assets/*
ByteTrack/pretrained/*
ByteTrack/YOLOX_outputs/*
ByteTrack/build/*
ByteTrack/datasets/*
ByteTrack/videos/*
ByteTrack/bytetrack_x.onnx
ByteTrack/*.onnx
ByteTrack/*.pth

/videos
/images*
#/src/darknet_ros/darknet_ros/yolo_network_config/
src/.yolov4-for-darknet_ros/
src/.tempv4_kunaltyagi_darknet_ros
src/yolact_ros/scripts/yolact/weights*

src/drone-net/*.weights
src/drone-net/images/*
src/drone-net/labels/*
src/drone-net/normalized-labels/*
src/yolov4-for-darknet_ros/darknet_ros/darknet/images/*
src/yolov4-for-darknet_ros/darknet_ros/darknet/labels/*
src/yolov4-for-darknet_ros/darknet_ros/darknet/normalized-labels/*
src/yolov4-for-darknet_ros/darknet_ros/darknet/weights/*
src/yolov4-for-darknet_ros/darknet_ros/darknet/custom_training/data/*
src/yolov4-for-darknet_ros/darknet_ros/darknet/custom_training/weights/*
#src/.*

Helmet-detection/
depthai-python/
src/.YOLOX-ROS/

src/yolov3_darknet_ros/
src/depthai-ros-examples/
src/depthai-ros/
src/find-object/

YOLOX/
depthai/
